@use "variables" as v;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: v.$font-prymary;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
