@use "base/variables" as v;

.contenido-principal {
  margin-top: 5rem;
}

.contenido-principal > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.filtros {
  grid-column: 1 / 2;

  div {
    h2 {
      font-weight: 700;
      font-size: 1.8rem;
    }
  }
}

.filtro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
  li {
    font-weight: 300;
    font-size: 1.5rem;

    &:hover {
      color: v.$color-primary;
    }
  }
}

.grid-container {
  grid-column: 2 / 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.book {
  max-width: 50rem;

  img {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  h3 {
    margin: 0;
    margin-top: 1.5rem;
  }

  p {
    margin: 0.5rem 0 0 0;
    font-weight: 100;
  }

  .precio {
    display: block;
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.8rem;
  }

  .book-footer {
    display: flex;
    justify-content: space-between;
  }
}
