<aside class="filtros">
    <div>
        <h2>Shop by Category</h2>
        <ul class="filtro">
            <li>
                All Genere
            </li>
            <li>
                Arts & Photography
            </li>
            <li>
                All Genere
            </li>
            <li>
                Arts & Photography
            </li>
            <li>
                All Genere
            </li>
            <li>
                Arts & Photography
            </li>
            <li>
                All Genere
            </li>
            <li>
                Arts & Photography
            </li>
        </ul>
    </div>
    <div>
        <h2>Boot Format</h2>
        <ul class="filtro">
            <li>
                All Format
            </li>
            <li>
                Hard Cover
            </li>
            <li>
                Papel/back
            </li>
            <li>
                Electronic Book
            </li>

        </ul>
    </div>
    <div>
        <h2>Prince Range</h2>

    </div>

    <div>
        <h2>Sponsors</h2>

    </div>

</aside>